.App {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.body {
  width: 80%;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-wrap: break-word;
}
